<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.RouteStopMapper">
    <resultMap id="BaseResultMap" type="com.example.mapper.RouteStopMapper">
        <result column="station_id" jdbcType="INTEGER" property="station_id"/>
        <result column="route_id" jdbcType="INTEGER" property="route_id"/>
        <result column="position" jdbcType="INTEGER" property="position"/>
    </resultMap>
    <insert id="addRouteStop">
        insert into route(station_id,route_id,position) values(#{station_id},#{route_id},#{position});
    </insert>

</mapper>
